<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorld"
        tools:targetApi="31">
        <activity
            android:name=".redPackage.RedActivity"
            android:exported="true"
            android:label="@string/redActivity_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".listPackage.AddShopItemActivity"
            android:exported="true"
            android:label="@string/add_item_button_text"
            android:parentActivityName=".ListActivity" />
        <activity
            android:name=".listPackage.ListItemActivity"
            android:exported="true"
            android:label="@string/listItemActivity_label"
            android:parentActivityName=".ListActivity" />
        <activity
            android:name=".ListActivity"
            android:exported="false"
            android:label="@string/listActivity_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UsuarioSaludoActivity"
            android:exported="true"
            android:label="@string/usuarioSaludoActivity_label"
            android:parentActivityName=".UsuarioActivity" />
        <activity
            android:name=".UsuarioActivity"
            android:exported="true"
            android:label="@string/usuarioActivity_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BirthdayActivity"
            android:exported="true"
            android:label="@string/birthdayActivity_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>